<!doctype html>
<html lang="en">
  <head>
    <title>Bark &mdash; Because We Care</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">    
    
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700, 900|Vollkorn:400i" rel="stylesheet">
    <link rel="stylesheet" href="static/fonts/icomoon/style.css">

    <link rel="stylesheet" href="static/css/bootstrap.min.css">
    <link rel="stylesheet" href="static/css/jquery-ui.css">
    <link rel="stylesheet" href="static/css/owl.carousel.min.css">
    <link rel="stylesheet" href="static/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="static/css/owl.theme.default.min.css">

    <link rel="stylesheet" href="static/css/jquery.fancybox.min.css">

    <link rel="stylesheet" href="static/css/bootstrap-datepicker.css">

    <link rel="stylesheet" href="static/fonts/flaticon/font/flaticon.css">

    <link rel="stylesheet" href="static/css/aos.css">

    <link rel="stylesheet" href="static/css/style.css">
    <style>
      .logo2{width: 90px; margin-top: 20px;}
      .id1{ width:12px; }
      #butBold{ background-color: #99c3be }


    </style>
  </head>
  <body data-spy="scroll" data-target=".site-navbar-target" data-offset="300" id="home-section">
  

  <div id="overlayer"></div>
  <div class="loader">
    <div class="spinner-border text-primary" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </div>


  <div class="site-wrap">

    <div class="site-mobile-menu site-navbar-target">
      <div class="site-mobile-menu-header">
        <div class="site-mobile-menu-close mt-3">
          <span class="icon-close2 js-menu-toggle"></span>
        </div>
      </div>
      <div class="site-mobile-menu-body"></div>
    </div>
   
    
    <header class="site-navbar js-sticky-header site-navbar-target" role="banner" >

      <div class="container">
        <div class="row align-items-center">
          
          <div class="col-6 col-xl-2">
            <h1 class="mb-0 site-logo"><a href="index.html" class="h2 mb-0"><img class="logo2" src="static/images/logo3.png"/><span class="text-primary"></span> </a></h1>
          </div>

          <div class="col-12 col-md-10 d-none d-xl-block">
            <nav class="site-navigation position-relative text-right" role="navigation">

              <ul class="site-menu main-menu js-clone-nav mr-auto d-none d-lg-block">
                <li><a href="#home-section" class="nav-link">Home</a></li>
                <li class="has-children">
                  <a href="#about-section" class="nav-link">About</a>
                  <ul class="dropdown">
                    <li><a href="#trainers-section" class="nav-link">Team</a></li>
                    <li><a href="#contact-section" class="nav-link">Contact Us</a></li>
                    <li><a href="#faq-section" class="nav-link">FAQ</a></li>
                  
                    <li><a href="#gallery-section" class="nav-link">Available Dogs</a></li>
                  </ul>
                </li>
                
                <li><a href="#trainers-section" class="nav-link">Team</a></li>
                <li><a href="#services-section" class="nav-link">Services</a></li>
                <li><a href="#" class="nav-link"></a></li>
                <li><a href="#" class="nav-link"></a></li>
                <li><a href="#" class="nav-link"></a></li>
                
                <li><a href="adopt.html" class="nav-link" id="butBold">I Want to Adopt!</a></li>
                <li><a href="#pricing-section"  id="butBold">I Want to Donate!</a></li>
              </ul>
            </nav>
          </div>


          <div class="col-6 d-inline-block d-xl-none ml-md-0 py-3" style="position: relative; top: 3px;"><a href="#" class="site-menu-toggle js-menu-toggle float-right"><span class="icon-menu h3"></span></a></div>

        </div>
      </div>
      
    </header>

  
    <section class="site-blocks-cover overflow-hidden bg-light">
      <div class="container">
        <div class="row">
          <div class="col-md-7 align-self-center text-center text-md-left">
            <div class="intro-text">
              <h1>We Must BARK<span class="d-md-block">For those who can't</span></h1>
              <p class="mb-4">Find your new best friend. <span class="d-block"> We’ll take care of the rest. #BECAUSEWECARE.</p>
            </div>
          </div>
          <div class="col-md-5 align-self-end text-center text-md-right">
            <img src="static/images/dogger_img_1.png" alt="Image" class="img-fluid cover-img">
          </div>
        </div>
      </div>
    </section> 

 <section class="site-section" id="about-section">
      <div class="container">
        <div class="row justify-content-center" data-aos="fade-up">
          <div class="col-lg-5 align-self-center mr-auto text-left heading-section mb-5">
            <div class="paws ml-4">
              <span class="icon-paw"></span>
            </div>
            <h2 class="text-black mb-3">What do we do?</h2>
            <p class="lead" id="id1"></p>

            <p class="lead" id="id2">Here are the basic steps</p>
            <ul class="list-unstyled ul-paw primary mb-0">
              <li>Somebody wants to adopt a dog</li>
              <li>They check our website and they fill the questionare</li>
              <li>We go over the results and we find 2-3 dogs the fit the profile</li>
              <li>We ask our customer which dog they dog</li>
              <li>The customer recives the dog and a starter kit with some guidance from our experts</li>
            </ul>
            <ul class="site-menu main-menu js-clone-nav mr-auto d-none d-lg-block">
                <li><a href="adopt.html" class="nav-link" id="butBold">I Wanna Adopt</a></li>
                <li><a href="#pricing-section"  id="butBold">I'll Donate Instead</a></li>
              </ul>

            
          </div>
           <div class="col-lg-6 text-left heading-section mb-5"  data-aos="fade-up" data-aos-delay="100">
            <a  data-fancybox data-ratio="1.5" href="https://vimeo.com/317571768" class="video-img">
              <span class="play">
                <span class="icon-play"></span>
              </span>
              <img src="static/images/dogger_img_big_1.jpg" alt="Image" class="img-fluid">
            </a>
          </div>
          
        </div>
      </div>
    </section>

<section class="site-section " id="services-section">
      <div class="container">
        <div class="row justify-content-center" data-aos="fade-up">
          <div class="col-lg-6 text-center heading-section mb-5">
            <div class="paws">
              <span class="icon-paw"></span>
            </div>
            <h2 class="text-black mb-2">Our Services</h2>
            <p>We offer the best services for our users and for the dogs that we have.</p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 mb-4 col-lg-4" data-aos="fade-up" data-aos-delay="">
            
            <div class="block_service">
              <img src="static/images/dogger_checkup.svg" alt="Image mb-5">
              <h3>Dog Checkup</h3>
              <p>We take care of every dog that we get and we provide the best services and the best help that we can. </p>
            </div>

          </div>
          <div class="col-md-6 mb-4 col-lg-4" data-aos="fade-up"  data-aos-delay="100">
            <div class="block_service">
              <img src="static/images/dogger_dermatology.svg" alt="Image mb-5">
              <h3>BARK's starter pack</h3>
              <p>In BARK we have a starter-kit that we provide for every person who donates and contributes to our project, in this starter kit we offer some basic needs and tools for dogs and for their owners such as leashes, treats and toys. </p>
            </div>
          </div>
          <div class="col-md-6 mb-4 col-lg-4" data-aos="fade-up"  data-aos-delay="200">
            <div class="block_service">
              <img src="static/images/dogger_bones.svg" alt="Image mb-5">
              <h3>Treats and Food</h3>
              <p>We provide you with the best food and treats for your dog. </p>
            </div>
          </div>


          <div class="col-md-6 mb-4 col-lg-4" data-aos="fade-up"  data-aos-delay="">
            
            <div class="block_service">
              <img src="static/images/dogger_veterinary.svg" alt="Image mb-5">
              <h3>Dog First Aid</h3>
              <p>The best treatment for your dogs from our experts and speacial Vets. </p>
            </div>

          </div>
          <div class="col-md-6 mb-4 col-lg-4" data-aos="fade-up"  data-aos-delay="100">
            <div class="block_service">
              <img src="static/images/dogger_dryer.svg" alt="Image mb-5">
              <h3>Dog March</h3>
              <p>We will be providing Dog marhces for everyone who gives us their support.</p>
            </div>
          </div>
          <div class="col-md-6 mb-4 col-lg-4" data-aos="fade-up"  data-aos-delay="200">
            <div class="block_service">
              <img src="static/images/dogger_veterinarian.svg" alt="Image mb-5">
              <h3>Expert Veterinarian</h3>
              <p>The Best Vets that will provide the best treatment for your dogs, these Vets have been working with us since we started. </p>
            </div>
          </div>
            
        </div>
      </div>
    </section>


    <section class="site-section">
      <div class="container">
        <div class="row justify-content-center" data-aos="fade-up">
          <div class="col-lg-6 text-center heading-section mb-5">
            <div class="paws">
              <span class="icon-paw"></span>
            </div>
            <h2 class="text-black mb-2">BARK's Specialties</h2>How are we different?</p>
          </div>
        </div>

        <div class="row hover-1-wrap mb-5 mb-lg-0">
          <div class="col-12">
            <div class="row">
              <div class="mb-4 mb-lg-0 col-lg-6 order-lg-2" data-aos="fade-right">
                <a href="#" class="hover-1">
                  <img src="static/images/dogger_img_sm_3.jpg" alt="Image" class="img-fluid">
                </a>
              </div>
              <div class="col-lg-5 mr-auto text-lg-right align-self-center order-lg-1" data-aos="fade-left">
                <h2 class="text-black">Real Best Friends</h2>
                <p class="mb-4">We promise you to find the dog that suits you the most, And more.</p>
                
              </div>
            </div>
          </div>
        </div>

        <div class="row hover-1-wrap mb-5 mb-lg-0">
          <div class="col-12">
            <div class="row">
              <div class="mb-4 mb-lg-0 col-lg-6"  data-aos="fade-left">
                <a href="#" class="hover-1">
                  <img src="static/images/dogger_img_sm_1.jpg" alt="Image" class="img-fluid">
                </a>
              </div>
              <div class="col-lg-5 ml-auto align-self-center"  data-aos="fade-right">
                <h2 class="text-black">No Hand Release</h2>
                <p class="mb-4">We will provide you with our professional assistance and guidance.</p>
                
              </div>
            </div>
          </div>
        </div>

        <div class="row hover-1-wrap">
          <div class="col-12">
            <div class="row">
              <div class="mb-4 mb-lg-0 col-lg-6 order-lg-2" data-aos="fade-right">
                <a href="#" class="hover-1">
                  <img src="static/images/dogger_img_sm_2.jpg" alt="Image" class="img-fluid">
                </a>
              </div>
              <div class="col-lg-5 mr-auto text-lg-right align-self-center order-lg-1" data-aos="fade-left">
                <h2 class="text-black">Leading to a wide social impact</h2>
                <p class="mb-4">With our unique "BARK's DOG-MARCH" where we bring the DOGS to the SOCIETY. In every city.</p>
                
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="site-section" id="about-section">
      <div class="container">
        <div class="row justify-content-center" data-aos="fade-up">
          <div class="col-lg-5 align-self-center mr-auto text-left heading-section mb-5">
            <div class="paws ml-4">
              <span class="icon-paw"></span>
            </div>
            <h2 class="text-black mb-3">About Us</h2>
            <p class="lead" id="id1">Tens of thousands of dogs are being killed and physically abused in and outside shelters. One of the key reasons that prevent these issues from being resolved is the lack of awareness, especially of the critical importance of adopting dogs, and the lack of understanding that when buying a dog, another healthy dog ​​longing for a home loses its life without any reason. As well, the failure of many adoptions due to the discrepancies of the dog and the adopter‘s environment due to mental, physical aspects and the adopted dog history, obstacles that prevent people from adopting and approaching the subject.
</p>
            <p class="lead" id="id2">Using the BARK platform, which offers an innovative method of adoption that focuses on the exact match between the dog and its owner according to personal and environmental aspects, along with many other social actions, we offer the adoption with the highest commitment potential. After that, we will give the adopter and his new friend professional assistance and guidance in extensive subjects in the real test, their life together, and not escape from responsibility. With BARK, we can encourage adoption and ensure steady adoption, thus significantly eradicating the phenomenons of death and abuse, change the social consensus, and prove that there is a lifelong friend for every person, waiting for his life to start.</p>
            <ul class="list-unstyled ul-paw primary mb-0">
              <li>Best Dog Adopter Match</li>
              <li>Best professional assistance and guidance</li>
              <li>Wide Range of innovative social activities</li>
            </ul>
            
          </div>
          <div class="col-lg-6 text-left heading-section mb-5"  data-aos="fade-up" data-aos-delay="100">
            <a  data-fancybox data-ratio="1.5" href="https://vimeo.com/317571768" class="video-img">
              <span class="play">
                <span class="icon-play"></span>
              </span>
              <img src="static/images/dogger_img_big_1.jpg" alt="Image" class="img-fluid">
            </a>
          </div>
        </div>
      </div>
    </section>

    <section class="site-section bg-primary trainers" id="trainers-section">
      <div class="container">
        <div class="row justify-content-center" data-aos="fade-up">
          <div class="col-lg-7 text-center heading-section mb-5">
            <div class="paws white">
              <span class="icon-paw"></span>
            </div>
            <h2 class="mb-2 heading">Our Team</h2>
            <p>The hard working team behind this project.</p>
          </div>
        </div>
        <div class="row">
         
          <div class="col-md-6 mb-4 col-lg-4" data-aos="fade-up" data-aos-delay="">
            <div class="trainer">
              <figure>
              <img src="static/images/ron.jpg" alt="Image" class="img-fluid">
              </figure>
              <div class="px-md-3">
                <h3>Ron Harel</h3>
                <p>Our Talented Group Manager and founder behind this idea, she has been working really hard on approaching other shelters and orginaizations in order to achieve our goal.</p>
                <ul class="ul-social-circle">
                  <li><a href="#"><span class="icon-twitter"></span></a></li>
                  <li><a href="#"><span class="icon-instagram"></span></a></li>
                  <li><a href="#"><span class="icon-facebook"></span></a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-md-6 mb-4 col-lg-4" data-aos="fade-up" data-aos-delay="100">
            <div class="trainer">
              <figure>
              <img src="static/images/sol.jpg" alt="Image" class="img-fluid">
              </figure>
              <div class="px-md-3">
                <h3>Sol Diab</h3>
                <p>The Working Programer who created everything that you see in this website, using his creativity and programming skills. And of course with the help of our lovely designer Noya.</p>
                <ul class="ul-social-circle">
                  <li><a href="#"><span class="icon-twitter"></span></a></li>
                  <li><a href="#"><span class="icon-instagram"></span></a></li>
                  <li><a href="#"><span class="icon-facebook"></span></a></li>
                </ul>
              </div>
            </div>
          </div>

          <div class="col-md-6 mb-4 col-lg-4" data-aos="fade-up"  data-aos-delay="200">
            <div class="trainer">
              <figure>
              <img src="static/images/noya.jpg" alt="Image" class="img-fluid">
              </figure>
              <div class="px-md-3">
                <h3>Noya Shinar</h3>
                <p>All of the colors and logos that you are seeing here were designed and created by our talented desinger Noya, she spent a lot of time on the design in order to make this website more alive.</p>
                <ul class="ul-social-circle">
                  <li><a href="#"><span class="icon-twitter"></span></a></li>
                  <li><a href="#"><span class="icon-instagram"></span></a></li>
                  <li><a href="#"><span class="icon-facebook"></span></a></li>
                </ul>
              </div>
            </div>
          </div>

          <div class="col-md-6 mb-4 col-lg-4" data-aos="fade-up"  data-aos-delay="0">
            <div class="trainer">
              <figure>
              <img src="static/images/tomer.jpeg" alt="Image" class="img-fluid">
              </figure>
              <div class="px-md-3">
                <h3>Tomer Levy</h3>
                <p>Our wonderful DUX Rami, without his help we couldn't even start working on this project, he helped us alot in gathering data and analyzing survers in order to help us improve and continue working on this projcet.</p>
                <ul class="ul-social-circle">
                  <li><a href="#"><span class="icon-twitter"></span></a></li>
                  <li><a href="#"><span class="icon-instagram"></span></a></li>
                  <li><a href="#"><span class="icon-facebook"></span></a></li>
                </ul>
              </div>
            </div>
          </div>

          <div class="col-md-6 mb-4 col-lg-4" data-aos="fade-up"  data-aos-delay="0">
            <div class="trainer">
              <figure>
              <img src="static/images/judeh.jpeg" alt="Image" class="img-fluid">
              </figure>
              <div class="px-md-3">
                <h3>Judeh Araj</h3>
                <p>Our wonderful UX Rami, without his help we couldn't even start working on this project, he helped us alot in gathering data and analyzing survers in order to help us improve and continue working on this projcet.</p>
                <ul class="ul-social-circle">
                  <li><a href="#"><span class="icon-twitter"></span></a></li>
                  <li><a href="#"><span class="icon-instagram"></span></a></li>
                  <li><a href="#"><span class="icon-facebook"></span></a></li>
                </ul>
              </div>
            </div>
          </div>

          <div class="col-md-6 mb-4 col-lg-4" data-aos="fade-up"  data-aos-delay="0">
            <div class="trainer">
              <figure>
              <img src="static/images/yali.jpeg" alt="Image" class="img-fluid">
              </figure>
              <div class="px-md-3">
                <h3>Yali Miller</h3>
                <p>Our wonderful DUX Rami, without his help we couldn't even start working on this project, he helped us alot in gathering data and analyzing survers in order to help us improve and continue working on this projcet.</p>
                <ul class="ul-social-circle">
                  <li><a href="#"><span class="icon-twitter"></span></a></li>
                  <li><a href="#"><span class="icon-instagram"></span></a></li>
                  <li><a href="#"><span class="icon-facebook"></span></a></li>
                </ul>
              </div>
            </div>
          </div>

          <div class="col-md-6 mb-4 col-lg-4" data-aos="fade-up"  data-aos-delay="0">
            <div class="trainer">
              <figure>
              <img src="static/images/rami.jpeg" alt="Image" class="img-fluid">
              </figure>
              <div class="px-md-3">
                <h3>Rami Mansour</h3>
                <p>Our wonderful DUX Rami, without his help we couldn't even start working on this project, he helped us alot in gathering data and analyzing survers in order to help us improve and continue working on this projcet.</p>
                <ul class="ul-social-circle">
                  <li><a href="#"><span class="icon-twitter"></span></a></li>
                  <li><a href="#"><span class="icon-instagram"></span></a></li>
                  <li><a href="#"><span class="icon-facebook"></span></a></li>
                </ul>
              </div>
            </div>
          </div>

          <div class="col-md-6 mb-4 col-lg-4" data-aos="fade-up"  data-aos-delay="0">
            <div class="trainer">
              <figure>
              <img src="static/images/wael.jpeg" alt="Image" class="img-fluid">
              </figure>
              <div class="px-md-3">
                <h3>Wael Hashem</h3>
                <p>Our wonderful DUX Rami, without his help we couldn't even start working on this project, he helped us alot in gathering data and analyzing survers in order to help us improve and continue working on this projcet.</p>
                <ul class="ul-social-circle">
                  <li><a href="#"><span class="icon-twitter"></span></a></li>
                  <li><a href="#"><span class="icon-instagram"></span></a></li>
                  <li><a href="#"><span class="icon-facebook"></span></a></li>
                </ul>
              </div>
            </div>
          </div>

          <div class="col-md-6 mb-4 col-lg-4" data-aos="fade-up"  data-aos-delay="0">
            <div class="trainer">
              <figure>
              <img src="static/images/natal.jpeg" alt="Image" class="img-fluid">
              </figure>
              <div class="px-md-3">
                <h3>Natal Habil</h3>
                <p>Our wonderful DUX Rami, without his help we couldn't even start working on this project, he helped us alot in gathering data and analyzing survers in order to help us improve and continue working on this projcet.</p>
                <ul class="ul-social-circle">
                  <li><a href="#"><span class="icon-twitter"></span></a></li>
                  <li><a href="#"><span class="icon-instagram"></span></a></li>
                  <li><a href="#"><span class="icon-facebook"></span></a></li>
                </ul>
              </div>
            </div>
          </div>

          <div class="col-md-6 mb-4 col-lg-4" data-aos="fade-up"  data-aos-delay="0">
            <div class="trainer">
              <figure>
              <img src="static/images/valeria.jpeg" alt="Image" class="img-fluid">
              </figure>
              <div class="px-md-3">
                <h3>Valeria Saleem</h3>
                <p>Our wonderful DUX Rami, without his help we couldn't even start working on this project, he helped us alot in gathering data and analyzing survers in order to help us improve and continue working on this projcet.</p>
                <ul class="ul-social-circle">
                  <li><a href="#"><span class="icon-twitter"></span></a></li>
                  <li><a href="#"><span class="icon-instagram"></span></a></li>
                  <li><a href="#"><span class="icon-facebook"></span></a></li>
                </ul>
              </div>
            </div>
          </div>

        </div>
      </div>
    </section>

    <section class="site-section" id="pricing-section">
      <div class="container">
        <div class="row justify-content-center" data-aos="fade-up">
          <div class="col-lg-7 text-center heading-section mb-5">
            <div class="paws">
              <span class="icon-paw"></span>
            </div>
            <h2 class="mb-2 text-black heading">Donations</h2>
            <p>With your help, we will be able to reach more endangered dogs, promise more adoptions , and accompany our customers with the most professional guidance. <br>
            (These donations help us provide these services for less money).<br>
            #BECAUSEWECARE.</p>
          </div>
        </div>
        <div class="row no-gutters">
          <div class="col-12 col-sm-6 col-md-6 col-lg-4 bg-primary p-3 p-md-5" data-aos="fade-up" data-aos-delay="">
            

            <div class="pricing">
              <h3 class="text-center text-white text-uppercase">One Paw</h3>
              <div class="price text-center mb-4 ">
                <span><span>$10</span></span>
              </div>
              <ul class="list-unstyled ul-check success mb-5">
                
                <li>BARK’s Starter Pack for Adopter</li>
                <li>Two training sessions for Dogs</li>
                
              </ul>
              <p class="text-center">
                <a href="#" class="btn btn-secondary">Donate</a>
              </p>
            </div>

          </div>
          <div class="col-12 col-sm-6 col-md-6 col-lg-4 bg-dark  p-3 p-md-5" data-aos="fade-up" data-aos-delay="100">
            <div class="pricing">
              <h3 class="text-center text-white text-uppercase">Three Paws</h3>
              <div class="price text-center mb-4 ">
                <span><span>$50</span></span>
              </div>
              <ul class="list-unstyled ul-check success mb-5">
                
                <li>Two BARK’s Starter Packs for Adopter</li>
                <li>Five training sessions for Dogs</li>
                <li>Two BARK’s Basic VET Pack</li>

              </ul>
              <p class="text-center">
                <a href="#" class="btn btn-primary">Donate</a>
              </p>
            </div>
          </div>
          <div class="col-12 col-sm-6 col-md-6 col-lg-4 bg-primary  p-3 p-md-5" data-aos="fade-up" data-aos-delay="200">
            <div class="pricing">
              <h3 class="text-center text-white text-uppercase">Five Paws</h3>
              <div class="price text-center mb-4 ">
                <span><span>$100</span></span>
              </div>
              <ul class="list-unstyled ul-check success mb-5">
                
               <li>Five BARK’s Starter Packs for Adopter</li>
                <li>Ten training sessions for Dogs</li>
                <li>Three BARK’s Basic VET Pack</li>
                <li>Two BARK’s Premuim VET Pack</li>

              </ul>
              <p class="text-center">
                <a href="#" class="btn btn-secondary">Donate</a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="site-section" id="faq-section">
      <div class="container" id="accordion">
        <div class="row justify-content-center" data-aos="fade-up">
          <div class="col-lg-6 text-center heading-section mb-5">
            <div class="paws">
              <span class="icon-paw"></span>
            </div>
            <h2 class="text-black mb-2">Frequently Asked Questions</h2>
            <p>Some information that might help you.</p>
          </div>
        </div>
        <div class="row accordion justify-content-center block__76208">
          <div class="col-lg-6 order-lg-2 mb-5 mb-lg-0" data-aos="fade-up"  data-aos-delay="">
            <img src="static/images/kit1.jpg" alt="Image" class="img-fluid rounded">
          </div>
          <div class="col-lg-5 mr-auto order-lg-1" data-aos="fade-up"  data-aos-delay="100">
            <div class="accordion-item">
              <h3 class="mb-0 heading">
                <a class="btn-block" data-toggle="collapse" href="#collapseFive" role="button" aria-expanded="true" aria-controls="collapseFive">What's BARK's Starter-Kit<span class="icon"></span></a>
              </h3>
              <div id="collapseFive" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                <div class="body-text">
                  <p>In BARK we have a starter-kit that we provide for every person who donates and contributes to our project, in this starter kit we offer some basic needs and tools for dogs and for their owners such as leashes, treats and toys.</p>
                </div>
              </div>
            </div> <!-- .accordion-item -->

            <div class="accordion-item">
              <h3 class="mb-0 heading">
                <a class="btn-block" data-toggle="collapse" href="#collapseSix" role="button" aria-expanded="false" aria-controls="collapseSix">What's BARK's Vet-Kit<span class="icon"></span></a>
              </h3>
              <div id="collapseSix" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                <div class="body-text">
                  <p>We provide for our contributers a special Vet-kit which includes speacial treatment for your dogs and gives you a chance to check your dog with expert and vets.</p>
                </div>
              </div>
            </div> <!-- .accordion-item -->

            <div class="accordion-item">
              <h3 class="mb-0 heading">
                <a class="btn-block" data-toggle="collapse" href="#collapseSeven" role="button" aria-expanded="false" aria-controls="collapseSeven">What's BARK's specialties<span class="icon"></span></a>
              </h3>
              <div id="collapseSeven" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                <div class="body-text">
                  <p>Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life One day however a small line of blind text by the name of Lorem Ipsum decided to leave for the far World of Grammar.</p>
                </div>
              </div>
            </div> <!-- .accordion-item -->
          </div>

          
        </div>
      </div>
    </section>

     


    <section class="site-section" id="gallery-section">
      <div class="container-fluid">
        <div class="row justify-content-center" data-aos="fade-up">
          <div class="col-lg-6 text-center heading-section mb-5">
            <div class="paws">
              <span class="icon-paw"></span>
            </div>
            <h2 class="text-black mb-2">Available Dogs</h2>
          </div>
        </div>
        <div class="row no-gutters">
          
            <a class="col-6 col-md-6 col-lg-4 col-xl-3 gal-item d-block" data-aos="fade-up" data-aos-delay="100" href="static/images/dogger_img_sm_1.jpg" data-fancybox="gal"><img src="static/images/dogger_img_sm_1.jpg" alt="Image" class="img-fluid"></a> 

            <a class="col-6 col-md-6 col-lg-4 col-xl-3 gal-item d-block" data-aos="fade-up" data-aos-delay="100" href="static/images/dogger_img_sm_2.jpg" data-fancybox="gal"><img src="static/images/dogger_img_sm_2.jpg" alt="Image" class="img-fluid"></a>
          
            <a class="col-6 col-md-6 col-lg-4 col-xl-3 gal-item d-block" data-aos="fade-up" data-aos-delay="100" href="static/images/dogger_img_sm_3.jpg" data-fancybox="gal"><img src="static/images/dogger_img_sm_5.jpg" alt="Image" class="img-fluid"></a>

            <a class="col-6 col-md-6 col-lg-4 col-xl-3 gal-item d-block" data-aos="fade-up" data-aos-delay="100" href="static/images/dogger_img_sm_4.jpg" data-fancybox="gal"><img src="static/images/dogger_img_sm_4.jpg" alt="Image" class="img-fluid"></a>
        </div>
      </div>
    </section>

    <section class="site-section bg-primary trainers" id="trainers-section">
      <div class="container">
        <div class="row justify-content-center" data-aos="fade-up">
          <div class="col-lg-7 text-center heading-section mb-5">
            <div class="paws white">
              <span class="icon-paw"></span>
            </div>
            <h2 class="mb-2 heading">Our Trainers</h2>
            <p>The wonderful working trainer who are helping us in providing these lessons for the dogs.</p>
          </div>
        </div>
        <div class="row">
         
          <div class="col-md-6 mb-4 col-lg-4" data-aos="fade-up" data-aos-delay="">
            <div class="trainer">
              <figure>
              <img src="static/images/dogger_trainer_1.jpg" alt="Image" class="img-fluid">
              </figure>
              <div class="px-md-3">
                <h3>Jessica White</h3>
                <p>Jessica spent the past 4 years working with shelters and dogs for free, she believes that each and every dog deserves to live a healthy and peacful life.</p>
                <ul class="ul-social-circle">
                 
                </ul>
              </div>
            </div>
          </div>
          <div class="col-md-6 mb-4 col-lg-4" data-aos="fade-up" data-aos-delay="100">
            <div class="trainer">
              <figure>
              <img src="static/images/dogger_trainer_2.jpg" alt="Image" class="img-fluid">
              </figure>
              <div class="px-md-3">
                <h3>Valerie Elash</h3>
                <p>After she graduated from the university she immediately devoted her life to training dogs and taking care of them, she has been working with us since we started our project back in 2018.</p>
                <ul class="ul-social-circle">
                  
                </ul>
              </div>
            </div>
          </div>

          <div class="col-md-6 mb-4 col-lg-4" data-aos="fade-up"  data-aos-delay="200">
            <div class="trainer">
              <figure>
              <img src="static/images/dogger_trainer_3.jpg" alt="Image" class="img-fluid">
              </figure>
              <div class="px-md-3">
                <h3>Alicia Jones</h3>
                <p>She devoted her life to train dogs and make sure that they stay healthy, we started working with her last year and we want her to stay with us.</p>
                <ul class="ul-social-circle">
                  
                </ul>
              </div>
            </div>
          </div>

        </div>
      </div>
    </section>
<br><br>
    
    
    <section class="" id="contact-section">
      <div class="container">
        <div class="row no-gutters">
          <div class="col-lg-6 bg-primary">
            <form action="#" class="p-5 contact-form">
              
              <h2 class="h4 mb-5 heading">Contact Form</h2> 

              <div class="row form-group">
                <div class="col-md-6 mb-3 mb-md-0">
                  <label for="fname">First Name</label>
                  <input type="text" id="fname" class="form-control" name="fname">
                </div>
                <div class="col-md-6">
                  <label for="lname">Last Name</label>
                  <input type="text" id="lname" class="form-control" name="lname">
                </div>
              </div>

              <div class="row form-group">
                
                <div class="col-md-12">
                  <label for="email">Email</label> 
                  <input type="email" id="email" class="form-control" name="email">
                </div>
              </div>

              <div class="row form-group">
                
                <div class="col-md-12">
                  <label for="subject">Phone Number</label> 
                  <input type="subject" id="subject" class="form-control" name="phone">
                </div>
              </div>

              <div class="row form-group">
                <div class="col-md-12">
                  <label for="message">Message</label> 
                  <textarea name="desc" id="message" cols="30" rows="7" class="form-control" placeholder="Message to us"></textarea>
                </div>
              </div>

              <div class="row form-group">
                <div class="col-md-12">
                  <input type="submit" value="Submit" class="btn btn-dark btn-md text-white">
                </div>
              </div>

  
            </form>
          </div>
          <div class="col-lg-6 bg-secondary">
            <div class="row justify-content-center align-items-center h-100">
              <div class="col-lg-6 text-center heading-section mb-5 align-self-center">
                <div class="paws">
                  <span class="icon-paw"></span>
                </div>
                <h2 class="text-white mb-5">Contact Us</h2>
                <ul class="list-unstyled text-left address">
                  <li>
                    <span class="d-block">Address:</span>
                    <p>Melbourne St,South Birbane 4101 Austraila</p>
                  </li>
                  <li>
                    <span class="d-block">Phone:</span>
                    <p>+(000) 123 4567 89</p>
                  </li>
                  <li>
                    <span class="d-block">Email:</span>
                    <p>info@yourdomain.com</p>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    
    
    <footer class="site-footer">
      <div class="container">
        <div class="row">
          <div class="col-md-9">
            <div class="row">
              <div class="col-md-5">
                <h2 class="footer-heading mb-4">About Us</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque facere laudantium magnam voluptatum autem. Amet aliquid nesciunt veritatis aliquam.</p>
              </div>
              <div class="col-md-3 ml-auto">
                <h2 class="footer-heading mb-4">Quick Links</h2>
                <ul class="list-unstyled">
                  <li><a href="#about-section" class="smoothscroll">About Us</a></li>
                  <li><a href="#trainers-section" class="smoothscroll">Trainers</a></li>
                  <li><a href="#services-section" class="smoothscroll">Services</a></li>
                  <li><a href="#testimonials-section" class="smoothscroll">Testimonials</a></li>
                  <li><a href="#contact-section" class="smoothscroll">Contact Us</a></li>
                </ul>
              </div>
              <div class="col-md-3">
                <h2 class="footer-heading mb-4">Follow Us</h2>
                <a href="#" class="pl-0 pr-3"><span class="icon-facebook"></span></a>
                <a href="#" class="pl-3 pr-3"><span class="icon-twitter"></span></a>
                <a href="#" class="pl-3 pr-3"><span class="icon-instagram"></span></a>
                <a href="#" class="pl-3 pr-3"><span class="icon-linkedin"></span></a>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <h2 class="footer-heading mb-4">Subscribe Newsletter</h2>
            <form action="#" method="post" class="footer-subscribe">
              <div class="input-group mb-3">
                <input type="text" class="form-control border-secondary text-white bg-transparent" placeholder="Enter Email" aria-label="Enter Email" aria-describedby="button-addon2">
                <div class="input-group-append">
                  <button class="btn btn-primary text-black" type="button" id="button-addon2">Send</button>
                </div>
              </div>
            </form>
          </div>
        </div>
        <div class="row pt-5 mt-5 text-center">
          <div class="col-md-12">
            <div class="border-top pt-5">
              <p class="copyright"><small>
              <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="icon-heart text-danger" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank" >Colorlib</a>
            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></small></p>
        
            </div>
          </div>
          
        </div>
      </div>
    </footer>

  </div> <!-- .site-wrap -->

  <script src="static/js/jquery-3.3.1.min.js"></script>
  <script src="static/js/jquery-ui.js"></script>
  <script src="static/js/popper.min.js"></script>
  <script src="static/js/bootstrap.min.js"></script>
  <script src="static/js/owl.carousel.min.js"></script>
  <script src="static/js/jquery.countdown.min.js"></script>
  <script src="static/js/jquery.easing.1.3.js"></script>
  <script src="static/js/aos.js"></script>
  <script src="static/js/jquery.fancybox.min.js"></script>
  <script src="static/js/jquery.sticky.js"></script>
  <script src="static/js/isotope.pkgd.min.js"></script>

  
  <script src="static/js/main.js"></script>

  
  </body>
</html>